@model RenomearBaseIdentity.Infra.CrossCutting.Identity.ViewModels.AccountViewModels.ExternalLoginListViewModel

@using Microsoft.Owin.Security

@{
    string classButton = "";
    string classButtonIcon = "";
}

<h4>Ou utilize outro serviço para fazer o login:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        switch (p.AuthenticationType)
                        {
                            case "Facebook":
                                classButton = "btn-primary";
                                classButtonIcon = "fa-facebook";
                                break;
                            case "Google":
                                classButton = "btn-danger";
                                classButtonIcon = "fa-google-plus";
                                break;
                            default:
                                classButton = "btn-default";
                                classButtonIcon = "fa-sign-in";
                                break;
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-labeled @classButton" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Entrar utilizando sua conta @p.Caption">
                                <span class="btn-label">
                                    <i class="fa @classButtonIcon">&nbsp;</i>
                                </span>
                                <span class="btn-label-text">Entrar com sua conta @p.AuthenticationType</span>
                            </button>
                        </div><!-- /.form-group -->
                    }
                </p>
            </div>
        }
    }
}
